prod-projects/underwritingProd/src/main/resources/_docs/fcx_api/dealApi_1_0_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Dave Krick (D LIMITED PARTNERSHIP) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:include schemaLocation="FCXGlobalTypeApi_1_0_1.xsd"/>
	<xs:element name="deal" type="DealType"/>
	<xs:complexType name="DealType">
		<xs:sequence>
			<xs:element name="applicationDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date/Time Application entered into system, either manually or by the system.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dealPurposeDd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Purpose of application.
Menu Code: DEALPURPOSE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="2"/>
						<xs:fractionDigits value="0"/>
						<xs:minExclusive value="-100"/>
						<xs:maxExclusive value="100"/>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Purchase</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Purchase + Improvements</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="2">
							<xs:annotation>
								<xs:documentation>Refinance</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="3">
							<xs:annotation>
								<xs:documentation>ETO</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="4">
							<xs:annotation>
								<xs:documentation>Switch / Transfer</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="5">
							<xs:annotation>
								<xs:documentation>Port</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="6">
							<xs:annotation>
								<xs:documentation>Deficiency Sale</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="7">
							<xs:annotation>
								<xs:documentation>Workout</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dealTypeDd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies type of application. (Approval or Pre-approval)
Menu Code: APPLICATIONTYPE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="2"/>
						<xs:fractionDigits value="0"/>
						<xs:minExclusive value="-1"/>
						<xs:maxExclusive value="100"/>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Approval</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Pre-Approval</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="downPaymentSource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Down Payment Details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="amount" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The amount of the down payment.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="13"/>
									<xs:fractionDigits value="2"/>
									<xs:minExclusive value="-100000000000"/>
									<xs:maxExclusive value="100000000000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="downPaymentSourceTypeDd" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifies the type of down payment.
Menu Code: DOWNPAYMENTSOURCETYPE</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="13"/>
									<xs:fractionDigits value="0"/>
									<xs:minExclusive value="-10000000000000"/>
									<xs:maxExclusive value="10000000000000"/>
									<xs:enumeration value="0">
										<xs:annotation>
											<xs:documentation>Sale of Existing Property</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="1">
										<xs:annotation>
											<xs:documentation>Personal Cash</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="2">
										<xs:annotation>
											<xs:documentation>RRSP</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="3">
										<xs:annotation>
											<xs:documentation>Borrowed Against Liquid Assets</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="4">
										<xs:annotation>
											<xs:documentation>Gift</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="6">
										<xs:annotation>
											<xs:documentation>Sweat Equity</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="7">
										<xs:annotation>
											<xs:documentation>Other</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="8">
										<xs:annotation>
											<xs:documentation>Existing Equity</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="10">
										<xs:annotation>
											<xs:documentation>Secondary Financing</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="11">
										<xs:annotation>
											<xs:documentation>Grants</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="description" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Text description of the institution or source where the funds are coming from or held.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="35"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="estimatedClosingDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The business date anticipated for Closing and Funding.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="financingWaiverDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the applicant requires financing as supplied by a realtor.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refiImprovementAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount for property improvement.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
						<xs:fractionDigits value="2"/>
						<xs:minExclusive value="-100000000000"/>
						<xs:maxExclusive value="100000000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refiImprovementsDesc" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of property improvements being made.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refiImprovementsFlag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates if inprovements being done on a purchase.
Y=Yes, N= No</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="N">
							<xs:annotation>
								<xs:documentation>No</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Y">
							<xs:annotation>
								<xs:documentation>Yes</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refiPurpose" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Purpose for Refinancing</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sourceApplicationId">
				<xs:annotation>
					<xs:documentation>API''s application number. Displayed in the External App Id field  on the Application Summary screen in Expert.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="taxPayorDd" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the entity that will be paying the property taxes.
Menu Code: TAXPAYOR</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="2"/>
						<xs:fractionDigits value="0"/>
						<xs:minExclusive value="-100"/>
						<xs:maxExclusive value="100"/>
						<xs:enumeration value="0">
							<xs:annotation>
								<xs:documentation>Borrower</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="1">
							<xs:annotation>
								<xs:documentation>Lender</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="additionalData" type="AdditionalDataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
